.input-error {
	border: solid 1px #EF6342;
}
.center {
	text-align: center;
}
h1.avatar {
	margin-top: 5px;
}
h1.avatar img {
	border-radius: 70px;
	width: 140px;
    border: 1px #c3c3c3 solid;
}
#avatar-change:hover {
	opacity: 0.6;
}