{% load staticfiles %}
  <!-- ************************ Send your idea ************************ -->
  
  <section class="send-us">
    <article class="container">
      <h3>Have a Community Project in Need of Funding?</h3>
      <a href="start.html" class="btn btn-3 green">Send to us</a> </article>
  </section>
  <footer>
    <div class="container footer-links">
      <div class="row">
        <div class="col-lg-4 footer-about">
          <img src="/static/main/images/footer-logo.png" alt="Fundz" />
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
      <p>Iincididunt ut labore et dolore magna aliqua. Sed ut perspiciatis unde omnis iste natus.</p>
          <ul>
            <li title="Facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li title="Twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li title="Youtube"><a href="#"><i class="fa fa-youtube-play"></i></a></li>
            <li title="LinkedIn"><a href="#"><i class="fa fa-linkedin"></i></a></li>
            <li title="Google+"><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-2">
          <h5>Projects</h5>
          <ul>
            <li><a href="#">Send a project</a></li>
            <li><a href="#">Projects in progress</a></li>
            <li><a href="#">Projects we Love</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">How it works</a></li>
          </ul>
        </div>
        <div class="col-lg-2">
          <h5>Important Links</h5>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Faq's</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-lg-2">
          <h5>About CrowdTrip</h5>
          <ul>
            <li><a href="#">What is CrowdTrip?</a></li>
            <li><a href="#">Who we are</a></li>
            <li><a href="#">Our Team</a></li>
            <li><a href="#">Press</a></li>
          </ul>
        </div>
        <div class="col-lg-2">
          <h5>Contact Info</h5>
          <ul class="contact-info">
            <li><i class="fa fa-map-marker"></i> <span>Lesy Ukrainki boulevard 5, Kiev<br /></span></li>
            <li><i class="fa fa-phone"></i> <span>+38 1234 567890</span></li>
            <li><i class="fa fa-envelope-o"></i> <span>info@crowdtrip.com</span></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copyrights">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 copyright-text">
            &copy; 2017 CrowdTrip | All rights reserved.
          </div>
          <div class="col-lg-6 newsletter">
            Subscribe for our newsletter
            <form action="index.html" method="post">
              <input type="text" name="email" id="email-id" value="Enter your e-mail" />
              <button type="submit"><i class="fa fa-check"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>

<!-- jQuery (necessary for JavaScript plugins) -->
<script type="text/javascript" src="{% static '/main/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static '/main/js/migrate.js' %}"></script>

<!-- Bootstrap Javascript -->
<script type="text/javascript" src="{% static '/main/js/bootstrap.min.js' %}"></script>

<!-- Progressbar -->
<script type="text/javascript" src="{% static '/main/js/rainbow.min.js' %}"></script>
<script type="text/javascript" src="{% static '/main/js/jquery-asPieProgress.js' %}"></script>

<!-- Revolution Slider -->
<script type="text/javascript" src="{% static '/main/js/jquery.themepunch.plugins.min.js' %}"></script>
<script type="text/javascript" src="{% static '/main/js/jquery.themepunch.revolution.min.js' %}"></script>

<!-- Carousels js -->
<script type="text/javascript" src="{% static '/main/js/jquery.bxslider.min.js' %}"></script>

<!-- Google Maps -->
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;v=3.exp"></script>
<script type="text/javascript" src="{% static '/main/js/jquery.gmap.min.js' %}"></script>

<!--Custom Scroll Bar -->
<script type="text/javascript" src="{% static '/main/js/jquery.scroll.js' %}"></script>

<!-- Grayscale Images -->
<script type="text/javascript" src="{% static '/main/js/jquery.hoverizr.min.js' %}"></script>


<!-- Custom Settings -->
<script type="text/javascript" src="{% static '/main/js/custom.js' %}"></script>

<!-- Jquery Plugins - (For Selectbox, EventCountDown) -->
<script type="text/javascript" src="{% static '/main/js/plugin.js' %}"></script>

<!-- Event Countdown -->
<script type="text/javascript" src="{% static '/main/js/countdown.js' %}"></script>

<!-- Retina Script -->
<script type="text/javascript" src="{% static '/main/js/retina.min.js' %}"></script>

<!-- custom alerts -->
<script src="{% static '/main/js/sweetalert.min.js' %}"></script>

<!-- custom scripts -->
<script type="text/javascript" src="{% static '/main/js/Helper.js' %}"></script>

<script type="text/javascript" src="{% static '/main/js/Auth.js' %}"></script>

<script type="text/javascript" src="{% static '/main/js/OnReady.js' %}"></script>
</body>
</html>


